@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typing-cursor, .typing-cursor-black, .typing-cursor-white {
    opacity: 1;
    font-weight: bold;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typing-cursor, .typing-cursor-black {
    color: #000;
}

.typing-cursor-white {
    color: #fff;
}

h1 {
    font-family: Optima;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

h2 {
    font-family: Optima;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
